.gb-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
}

.gb-background-image {
  image-rendering: pixelated;
  display: block;
  height: 100vh; /* Reserva de espacio estricta para evitar CLS */
  width: auto;
}

.gb-power-light {
  position: absolute;
  background-color: var(--gb-light-core);
  border-radius: 100%;
  box-shadow: 0 0 5px var(--gb-light-glow), 
              0 0 10px var(--gb-light-glow), 
              0 0 15px var(--gb-light-glow);
  transform: translate(-50%, -50%);
}